{% extends "base.html" %}
{% block title %}Bug Bounty - USA Industries{% endblock %}
{% block content %}
    <div class="box">
        <h2>Bug Bounty</h2>
        <p>USAI offers bounties for bugs found.
            Bounties will be paid with in game currency.
            Bugs can be on the USAI website/API, Discord bot, or even on the TEAW server itself.
            Even simple bugs like typos will be rewarded!<br><br>
            
            Please report security related bugs to brandonusa on Discord in a <em>direct message</em>.

            <!--
            Reporter: brandonusa
            Bug: Missing comma
            Reward: 3 morbs
            -->
        </p>
    </div>

    <div class="box">
        <h2>Feature Requests</h2>
        <p>If you have a simple feature that you want added to any USAI service, drop it in the USAI Discord server.
            If it's a good idea, we'll add it and reward you with in game currency.
        </p>
    </div>

    <div class="box">
        <h2>Contributing Code</h2>
        <p>This website is open source. You can view the code on GitHub <a href="https://github.com/besser435/USAI-Website" style="color: white;">here</a>.
            If you want to contribute code, you can submit a pull request on GitHub. We are mainly looking for visual improvements,
            as the website kinda looks terrible right now.
            If your pull request is accepted, you will be rewarded with in-game currency.
            Please note that some USAI services and APIs are not open source.
        </p>
    </div>
{% endblock %}
