{% extends "base.html" %}
{% block title %}Home - USA Industries{% endblock %}
{% block content %}
    <img class="usai-logo" id="topImg" src="/static/usa_troll.jpg" style="width:15%;" alt="USAI Logo">
    
    <h1 style="margin-top: 10px; margin-bottom: 0px;" class="home-h1">USA Industries</h1>
    <p style="font-family: 'Ubuntu', sans-serif;" class="home-p">What you need, we have</p>
    <script src="/static/js/home.js"></script>

    <div class="about">
        <h2 style="color: #007BFF; margin-bottom: 0px; text-align: center;">About Us</h2>
        <p class="home-p">
            We started USA Industries with one simple goal. Sell everything, and get rich doing that.
            We achieved that goal one week after we set out for it, and now we serve the TEAW community, selling 
            <em>everything</em>.
        </p>

        <h2 style="color: #007BFF; margin-bottom: 0px; text-align: center;">Who We Are</h2>
        <div class="who-we-are">
            <div class="person">
                <img src="https://crafatar.com/avatars/75418e9c-34ef-4926-af64-96d98d10954c" alt="brandonusa skin">
                <h3>brandonusa</h3>
            </div>
            
            <div class="person">
                <img src="https://crafatar.com/avatars/cbb82a16-fbb8-44ab-b201-5db723494ede" alt="josmo8 skin">
                <h3>josamo8</h3>
            </div>
            
            <div class="person">
                <img src="https://crafatar.com/avatars/beb04231-b217-49f6-8084-06b806848e88" alt="enderwither4484 skin">
                <h3>enderwither4484</h3>
            </div>
            
            <div class="person">
                <img src="https://crafatar.com/avatars/89b7718e-b989-49c3-9f89-9df53e10eb0e" alt="LBombre skin">
                <h3>LBombre</h3>
            </div>
        </div>

        <h2 style="color: #007BFF; margin-bottom: 0px; text-align: center;">What We Sell</h2>
        <div class="services">
            <div class="services-box">
                <h3>Create Schematics</h3>
                <p>If you need a machine or farm designed, USAI is the place to get it! We create
                    fast and efficient designs for any machine/farm at a cheap price.
                </p>
            </div>

            <div class="services-box">
                <h3>Custom Orders</h3>
                <p>If you need something that isn't listed here, we can still get it for you. Just ask! This 
                    includes things that might not even be in-game, such as information or various kinds of software.
                </p>
            </div>

            <div class="services-box">
                <h3>General Items</h3>
                <p>If you need materials or rare items for any purpose, we can provide them.</p>
            </div>

            <div class="services-box">
                <h3>Banking</h3>
                <p>We offer loans, savings accounts with interest, and more!</p>
            </div>
        </div>
    </div>

    
    <div id="patches">
        <div class="container">
            <div class="counter" id="counter">0</div>
            <h1 class="home-h1">Patches due to USA Industries</h1>
            <div class="section-spacing"></div>

            <h3>Patch 1: Hunter Job + Mob Farm</h3>
            <p>we trolled the economy</p>
            <div class="section-spacing"></div>

            <h3>Patch 2: forgor this one, but it did happen</h3>
            <p>we trolled the economy</p>
            <div class="section-spacing"></div>

            <h3>Patch 3: 1 Billion Gecs + Item Duping</h3>
            <p>we trolled the economy</p>
            <div class="section-spacing"></div>

            <h3>Patch 4: 1 Billion Gecs, But For Real This Time</h3>
            <p>we trolled the economy</p>
            <div class="section-spacing"></div>

            <h3>Patch 5: ???</h3>
            <p>???</p>
            <div class="section-spacing"></div>
        </div>
    </div>
{% endblock %}
